header {
  background-color: coral;
  color: white;
  text-align: center;
  font-family: 'Adamina', serif;
  background-size: 60%;
  font-size: large;
}
.square {
  height: 750px;
  width: 250px;
  background-color: #7714FA ;
  float: left;
top: 0px
}
h1 {
  font-weight: 400;
  font-family: 'Adamina', serif;
}
image-gallery {
  float: left;}
.navbar {
  background-color: coral;
  overflow: hidden;
}
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  font-family: 'Adamina', serif;
  padding: 14px 16px;
  text-decoration:none;
}
.navbar a:hover{
  color: purple;
  background-color: #2196F3;
}
.container div{
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 10px;
}
.card{
  box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 50%;
  font-family: 'Adamina', serif; 
  float: right;
}
h5 {
  text-align: center;
}
.card-title {
  text-align: center;
  font-size: 2em;
  color: red;
  font-weight: 400;
}
.card-content {
  padding: 2px 16px;
}
.card-content: hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
footer {
  position: fixed;
  bottom: 0px;
  left: 0;
  right: 0;
  background-color: #2196F3;
  color: #FF703E ;
  float: right;
  font-weight: 400;
  padding-right: 10px;
  font-style: italic;
}
.footer a{
  text-decoration: none;
  color: white;
}
.footer a:hover{
  text-decoration: underline;
}